<table border=0 cellspacing=4 cellpadding=4 width="100%">
    <tr>
        <td><center><img src="images/constr09.gif"></center></td>
        <td><center><h1>PyHTMLTemplater</h1></center></td>
        <td><center><img src="images/constr09.gif"></center></td>
            </tr>
</table>

<table border=0 cellspacing=4 cellpadding=4 width="100%">
    <tr>
        <td align=center valign=top width="16%">
            <p><a href="index.html">
                    <b>home page</b></a>
            </p>
        </td>
        <td align=center valign=top width="16%">
            <p><a href="page2.html">
                    a different page</a></p>
        </td>

    </tr>
</table>

<center><img src="images/ui/horiz_bar.gif"></center>